<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">

    <style>
      .container{
          padding: 30px;
      }
  </style>
</head>
  <body>

    <%- include('./navbar'); %>

    <div class="innerheader">
      <h2>
        ADMISSIONS
      </h2>
    </div>

    <div class = "container">
      <p>
        Admissions are open for Nursery class.
      </p>
    </div>

    <script src="/assets/js/navbar.js"></script>

</body>
</html>
