<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Navigation Menu</title> -->
    <!-- <link rel="stylesheet" href="style.css"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <link rel="stylesheet" href="/assets/css/style.css">
    <style>
      .container{
          padding: 30px;
      }
  </style>
</head>
  <body>

    <%- include('./navbar'); %>

    <div class="innerheader">
      <h2>
        ADMISSIONS
      </h2>
    </div>

    <div class = "container">
      <p>
        Admissions are open for Nursery class.
      </p>
    </div>

</body>
</html>
