<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">

<style>

.container {
  padding: 30px;
}

.card {
    max-width: 500px;;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 24px;
    text-align: left;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D1D1D1;
    box-shadow: 0px 0px 20px -7px rgba(91, 89, 89, 0.5);
    padding:  20px;;
}

.card-header {
  font-size: 14px;
  margin-bottom: 20px;;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;;
  font-weight: bold;
}

.card-content {
  font-size: 16px;
}
.card-item {
  margin-bottom: 20px;
}

.card-footer {
  font-size: 12px;
  padding-top: 10px;;
  margin-top: 20px;;
  border-top: 1px solid #f7f7f7;
}

.date {
  margin-left: 10px;;
  color: #FF7B00;
}

</style>  
  
</head>
  <body>

    <%- include('./navbar'); %>


  <div class="innerheader">
    <h2>
      From the Desk Of Administrative Officer
    </h2>
  </div>

  <div class="container">
    <p>
      Children are the future of a country and mothers are the main contributors towards the formation and development of a child. We at J.N. Shah provide the best to a girl child in order to make her primary contributor towards the contribution of the nation.
    </p>

    <p>
      We provide the best and our thrust to develop teachers and not just followers. Children with multiple skills and innovative ideas not only excel academically but also in later stages set an example in society through their contributions in various skills. We aim to imbibe in our children a feeling of loyalty, a sense of giving, and having concern for the communities.      
    </p>

    <p>
      We dedicate the first edition of PUSHPANJALI to the memory of our respected father ‘Shri Jagannath Shah’, a religious person with simple living and high thinking the soul of our school. It is said that good never dies and rightly so, his eternal soul will remain with us forever.      
    </p>
  </div>

  <script src="/assets/js/navbar.js"></script>

</body>
</html>
