<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">

  <style>
    .container {
      padding: 20px;
      max-width: 1100px;
      margin: 0 auto;
      overflow: auto;
    }

    img {
      padding: 7px;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    section div {
      text-align: center;
      margin: 15px 8px;
    }

  </style>
</head>
  <body>

    <%- include('./navbar'); %>

    <div class="innerheader">
      <h2>
        ADMINISTRATION
      </h2>
    </div>

    <section>

      <div class="container flex">

        
      <div>
        <img src = "/assets/images/team/4.png" />
        <h3>Aparna Mishra</h3>
        <h4>Sr. Teacher Hindi</h4>
      </div>

      <div>
        <img src = "/assets/images/team/14.png" />
        <h3>Rolly Gaur</h3>
        <h4>Jr. Teacher SST</h4>
      </div>

      <div>
        <img src = "/assets/images/team/10.png" />
        <h3>Uma Dutt</h3>
        <h4>Sr. Teacher Maths</h4>
      </div>

      <div>
        <img src = "/assets/images/team/11.png" />
        <h3>Rohit Singh Chauhan</h3>
        <h4>Sr. Teacher Computer</h4>
      </div>

      <div>
        <img src = "/assets/images/team/16.png" />
        <h3>Fahria</h3>
        <h4>Sr. Teacher Chemistry</h4>
      </div>

      <div>
        <img src = "/assets/images/team/19.png" />
        <h3>Sharmila</h3>
        <h4>Jr. Teacher</h4>
      </div>
      
      <div>
        <img src = "/assets/images/team/17.png" />
        <h3>Rinku Gupta</h3>
        <h4>Principal</h4>
      </div>

      <div>
        <img src = "/assets/images/team/22.png" />

        <h3>Jyotima Dubey</h3>
        <h4>Sr. Teacher English</h4>
      </div>


      <div>
        <img src = "/assets/images/team/23.png" />
        <h3>Vishesh Pratap Singh</h3>
        <h4>Jr. Teacher Physics</h4>
      </div>

      <div>
        <img src = "/assets/images/team/33.jpeg" />

        <h3>Anuradha Pandey</h3>
        <h4>Sr. Teacher English</h4>
      </div>

      <div>
        <img src = "/assets/images/team/25.png" />

        <h3>Ankita Sinha</h3>
        <h4>Jr. Teacher Maths</h4>
      </div>

      <div>

        <img src = "/assets/images/team/24.png" />

        <h3>Mehak Khan</h3>
        <h4>Jr. Teacher Computer</h4>
      </div>


      <div>
        <img src = "/assets/images/team/27.png" /> 
        <h3>Sudhanshu</h3>
        <h4>Sr. Teacher Physical Edu.</h4>
      </div>


      <div>
        <img src = "/assets/images/team/26.png" />

        <h3>Manan Kumar Gupta</h3>
        <h4>Chairman</h4>
      </div>


      <div>
        <img src = "/assets/images/team/sachin.png" />

        <h3>Sachin Gupta</h3>
        <h4>Administration Officer</h4>
      </div>


      <div>
        <img src = "/assets/images/team/28.png" />

        <h3>Shreetesh Chaudhary</h3>
        <h4>Office Coordinator</h4>
      </div>


      <div>
        <img src = "/assets/images/team/30.png" />

        <h3>Raghuvendra</h3>
        <h4>Sr. Teacher Accounts</h4>
      </div>


      <div>
        <img src = "/assets/images/team/29.png" />

        <h3>Piyush Anand</h3>
        <h4>Office Coordinator</h4>
      </div>


      <div>
        <img src = "/assets/images/team/31.png" />

        <h3>Sudeep</h3>
        <h4>Sr. Teacher Biology</h4>
      </div>

      </div>


    </section>

    <div class="conatiner flex">






    </div>

</body>
</html>
