<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

     <title>J N Shah Memorial School, Contact Us</title> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/style.css">
  <style>
      .container{
          padding: 30px;
      }
  </style>
</head>
  <body>

    <%- include('./navbar'); %>

    <div class="innerheader">
      <h2>
        CONTACT US
      </h2>
    </div>

    <div class="container">

      <p>
        <strong> Address </strong>
        <br/>
        (Near S.P. Office) Civil Lines, Unnao, Uttar Pradesh, Pincode 209801
         
      </p>
       <br/> <br/>
      <p>
        <strong> Email </strong> 
          <br/>
        <a href="mailto:jnspschool@rediffmail.com">jnspschool@rediffmail.com</a>
        ,
        <a href="mailto:jnspschool@gmail.com">jnspschool@gmail.com</a>
      </p>
      <br/> <br/>

      
      <p>
        <strong> Phone No. </strong> 
          <br/>
        <a href="tel:+91-7839460897"> +91-7839460897</a>
        ,
        <a href="tel:+91-9415135221"> +91-9415135221</a>
      </p>
    </div>

</body>
</html>

