<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">

  <style>
    .img-container {
      text-align: center;
    }

    .img-container img {
      max-width: 100%;;
    }

    h1 {
      text-align: center;
      padding: 30px 0;
      color: #bc7638;
      font-size: 2em;
    }


  </style>
  
</head>
  <body>

    <%- include('./navbar'); %>

    <div class="innerheader">
      <h2>
        EVENTS
      </h2>
    </div>

   <section class="">
      <h1>
        Cultural Events
      </h1>
      <div class="img-container">
        <img src="assets/images/events/cultural/1.jpg" />
        <img src="assets/images/events/cultural/2.jpg" />
        <img src="assets/images/events/cultural/3.jpg" />
        <img src="assets/images/events/cultural/4.jpg" />
        <img src="assets/images/events/cultural/4_1.jpg" />
        <img src="assets/images/events/cultural/5.jpeg" />
        <img src="assets/images/events/cultural/6.jpg" />
        <img src="assets/images/events/cultural/7.jpg" />
        <img src="assets/images/events/cultural/8.jpg" />
      </div>
   </section>
    
  <section class="">
    <h1>
      Sports
    </h1>
    <div class="img-container">
      <img src="assets/images/events/sports/1.jpg" />
      <img src="assets/images/events/sports/2.jpg" />
      <img src="assets/images/events/sports/3.jpg" />
      <img src="assets/images/events/sports/4.jpg" />
    </div>
  </section>


  <section class="">
    <h1>
      More Activities
    </h1>
    <div class="img-container">
      <img src="assets/images/events/mix/1.jpg" />
      <img src="assets/images/events/mix/2.jpg" />
      <img src="assets/images/events/mix/3.jpg" />
      <img src="assets/images/events/mix/4.jpg" />
      <img src="assets/images/events/mix/5.jpg" />

    </div>
  </section>

  <br/>

  <script src="/assets/js/navbar.js"></script>

</body>
</html>
