<nav>
      <!-- <div class="logo">
Brand</div> -->
<input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>

<li><a class="" href="/">Home</a></li>
<li><a class="" href="/notice-board">Notice Board</a></li>
<li><a href="/admissions">Admissions</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/administration">Administration</a></li>
<li><a href="/contact-us">Contact Us</a></li>
</ul>
</nav>