<!-- <nav>
      

      <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

      <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/notice-board">Notice Board</a></li>
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/administration">Administration</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
      </ul>


</nav> -->


<nav>

      <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/notice-board">Notice Board</a></li>
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/administration">Administration</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
      </ul>

      <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
      </div>

  </nav>