<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Navigation Menu</title> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">


<style>

.container {
  padding: 30px;
}

.card {
    max-width: 500px;;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 24px;
    text-align: left;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D1D1D1;
    box-shadow: 0px 0px 20px -7px rgba(91, 89, 89, 0.5);
    padding:  20px;;
}

.card-header {
  font-size: 14px;
  margin-bottom: 20px;;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;;
  font-weight: bold;
}

.card-content {
  font-size: 16px;
}
.card-item {
  margin-bottom: 20px;
}

.card-footer {
  font-size: 12px;
  padding-top: 10px;;
  margin-top: 20px;;
  border-top: 1px solid #f7f7f7;
}

.date {
  margin-left: 10px;;
  color: #FF7B00;
}

</style>  
  
</head>
  <body>

    <%- include('./navbar'); %>


  <div class="innerheader">
    <h2>
      From the Desk Of Principal
    </h2>
  </div>

 <div class = "container">

  <p>
    Today in this dynamic world children need to be made aware of the moral values and value of primary greatness or goodness in their character. A child is the most valuable in any country. Every child holds the promise of a bright future for his family, society, and country, and the world, provided he/she is armed with education, skills, and human values.
  </p>


  <p>
    Education is incomplete without moral values. Moral values begin in the family The mother is the child’s first teacher. J N Shah endeavors to inculcate in its children the value of discipline, courage, and willpower, which are the essential values of every person and helps to create a life rich in passion, inspiration, possibility, and peace.
  </p>


  <p>
    For educational innovation we think it is our solemn duty to invest plan, initiate, and adequately gear to suit the wider objective of education so as to prepare considerate and responsible citizens through an integrated development. The institute crossed another milestone of excellence in its journey to progress by excelling in the board examinations in the past two years. I.e. (2007-2008) and (2008-2009) with praise-worthy results.
  </p>

  <p>
    Venunee Tiwari topped securing(88.9%) and others like Swadesh Rawat (85.7&)
  </p>

  <p>
    The institute also buzzed a lot of activities throughout the session. We were amazed to see the unbounded creative talents our students possessed. Students brought laurels to the institution by winning a number of prizes in the Inter-School Competitions like Declamation, Debate, drawing, recitation, etc. I feel proud to mention the names of Priya class |X Devyanhi Katiyar class |X who won the second prize in the inter-school Hindi debate competition hosted by Wendy High School(Naramau), Kanpur. Similarly, Shreya Shankhawar class V||| stood 3rd in the inter-school declamation competition hosted by Dr. Virendra Swarup Public School, Cantt Kanpur. 
  </p>

  <p>
    I humbly thank Almighty God for all the blessings that He has shown upon J.N. Shah family. I am thankful to the parents for rendering their support and cooperation in all endeavors. I also extend my heartfelt gratitude to my team of dedicated teachers, office staff, and helpers whose infinite energy transforms every striving effort into a stupendous success.
  </p>

  <p>
    Let us unite together to remove the darkness of illiteracy and spread the light of literacy.
  </p>


  </div>


</body>
</html>
