<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">

<style>

.container {
  padding: 30px;
}

.card {
    max-width: 500px;;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 24px;
    text-align: left;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D1D1D1;
    box-shadow: 0px 0px 20px -7px rgba(91, 89, 89, 0.5);
    padding:  20px;;
}

.card-header {
  font-size: 14px;
  margin-bottom: 20px;;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;;
  font-weight: bold;
}

.card-content {
  font-size: 16px;
}
.card-item {
  margin-bottom: 20px;
}

.card-footer {
  font-size: 12px;
  padding-top: 10px;;
  margin-top: 20px;;
  border-top: 1px solid #f7f7f7;
}

.date {
  margin-left: 10px;;
  color: #FF7B00;
}

</style>  
  
</head>
  <body>

    <%- include('./navbar'); %>


  <div class="innerheader">
    <h2>
      From the Desk Of Vice Chairman
    </h2>
  </div>

  <div class = "container">

    <p>
      This is a universal truth that every child is special. The divine energy had sent every individual with a specific quality. Every child has a spark but how many people are aware of this? To compare two things / two individuals is the common tendency of human beings. Even in one family,  parents keep on comparing two siblings which completely wrong on their part as the one who is not applauded acknowledged is the sufferer and is the victim of many kinds of personality disorders. Every parent should remember that the coming 21st century would be a very tough world. For that, you have to prepare your child in a versatile manner. So that he would be ready to face all challenges in life. You should always keep this in your mind that a newborn baby is like a computer without any software it is you who would be inserting software in your child and you would see how the child is responding accordingly. Your role is pivotal in your child’s life.
    </p>

    <p>
      You actually can make a difference in his/her life.      
    </p>

    <p>
      Identify that spark and give an orientation afterward instead of imposing the things which are not interesting for his/her innocent mind. A child is in the school only for six hours, the rest of the other time he/she is at home. So your responsibility as a mentor is naturally bigger.I would only appeal to all guardians that spend some quality time with your child as your child needs your attention
      The greatest gift you can give to your child is the purity of your attention and your time.
            
    </p>

  </div>

  <script src="/assets/js/navbar.js"></script>


</body>
</html>
